#canvas {

    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
    border: solid;
}

#canvas > div {
    box-sizing: border-box;
}

.change {
    background-color: black;
}